<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="robots" content="noindex">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    , maximum-scale=1.0-->
    <title>@ViewData["Title"] - NETCORE</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NETCORE.styles.css" asp-append-version="true" />
    <meta property="og:title" content="Thực phẩm sạch Nhanh.vn">
    <meta property="og:url" content="http://t0307.store.nhanh.vn">
    <meta property="og:image" content="https://pos.nvncdn.com/16a837-71503/store/20200325_7rMt2KlqTHJrITcloxlSka0u.png">
    <meta name="google-site-verification" content="">
    <link href="http://t0307.store.nhanh.vn" rel="canonical">
    <link href="https://pos.nvncdn.com/16a837-71503/store/20200325_ZRJHulhsIfpehzWImFaQoMVt.png" rel="icon"
        type="image/vnd.microsoft.icon">
    <link rel="preload" href="https://web.nvnstatic.net/tp/T0307/font/Quicksand-VariableFont_wght.ttf" as="font"
        type="font/ttf" crossorigin="">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/bootstrap/bootstrap.4.3.1.min.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fontAwesome/font-awesome-4.7.0.min.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fancybox-4.0.31/fancybox_4.0.31.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/font.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/js/mmenu/css/jquery.mmenu.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/jqueryUI/jqui.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/owlCarousel/owl.carousel.min.2.3.4.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/appLib.css" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0307/css/style.css?v=69" type="text/css">
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.min.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.cookie.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/boostrap.popper.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery-ui-1.10.3.custom.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/bootstrap.4.3.1.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery.number.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/fancybox-4.0.31/fancybox_4.0.31.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/owlCarousel/owl.carousel.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/mmenu/js/jquery.mmenu.min.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/lib.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/tp/T0307/js/main.js?v=54"></script>
    <style type="text/css"></style>
    <style type="text/css">
        img {
            max-width: 100%;
        }

        img.lazyload {
            opacity: 0.001;
            object-fit: scale-down !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_out_v2 {
            max-height: 0 !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_in_v2 {
            max-height: calc(100% - 80px) !important;
        }
    </style>
    <script src="https://pos.nvnstatic.net/cache/location.vn.js?v=241216_094852" defer=""></script>
    <script src="https://web.nvnstatic.net/js/lazyLoad/lazysizes.min.js" async=""></script>
    <style>
        figure.image {
            clear: both;
            display: table;
            margin: .9em auto;
            min-width: 50px;
            text-align: center;
            width: auto !important;
        }

        figure.image img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            min-width: 100%;
        }

        figure.image>figcaption {
            background-color: #f7f7f7;
            caption-side: bottom;
            color: #333;
            display: block;
            font-size: .75em;
            outline-offset: -1px;
            padding: .6em;
            word-break: break-word;
        }

        figure.image img,
        img.image_resized {
            height: auto !important;
            aspect-ratio: auto !important;
        }
    </style>
    <script src="https://web.nvnstatic.net/js/translate/vi-vn.js" defer=""></script>
</head>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
@RenderBody()

<body id="lama-theme" class="tp_background tp_text_color">
    @* mobile_child ---------------------------------------------  *@
    @(await Component.InvokeAsync("NavMobile"))
    @* -----------end mobile_child ------------ *@
    <div class="container top-header d-none d-lg-flex flex-wrap">
        <div class="col-md-2 lare-logo">
            <a href="/" class="d-inline-block">
                <img src="https://pos.nvncdn.com/16a837-71503/store/20200325_7rMt2KlqTHJrITcloxlSka0u.png" alt="Logo">
            </a>
            <!-- #region    -->
        </div>
        @(await Component.InvokeAsync("Navbar"))

    </div>
    </div>
    </header>

    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/tp/T0307/js/index.js?v=10"></script>

    @(await Component.InvokeAsync("Banner"))
    @* @(await Component.InvokeAsync("Sidebar")) *@
    </div> <!-- Kết thúc phần trước đó -->

    </div>
    </div>


    <div class="container">
        <div class="title title-blog">
            <h2 class="text-center"><span class="text_gradient tp_title">Tin tức mới nhất</span></h2>
        </div>
        <div class="slider_3 owl-carousel owl-theme">
            <div class="owl-stage-outer">
                <div class="owl-stage"
                    style="transform: translate3d(-646px, 0px, 0px); transition: 0.25s; width: 1617px;">
                    <div class="owl-item" style="width: 293.333px; margin-right: 30px;">
                        <div class="item_news">
                            <div class="card_news"
                                onclick="window.location.href='/khong-phai-sua-nhung-thuc-pham-nay-con-giau-canxi-hon!-n99126.html';">
                                <div class="card_news_img">
                                    <a href="/khong-phai-sua-nhung-thuc-pham-nay-con-giau-canxi-hon!-n99126.html"
                                        title="Không phải sữa, những thực phẩm này còn giàu Canxi hơn!">
                                        <img class="card-img-top lazyautosizes lazyloaded"
                                            src="https://pos.nvncdn.com/16a837-71503/art/20220325_gszmghF3e9NrwD9VqlyquIIC.jpg"
                                            alt="Không phải sữa, những thực phẩm này còn giàu Canxi hơn!" sizes="293px">
                                    </a>
                                    <div class="card_news_date text-center">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        <b>25-03-2022</b> &nbsp;Đăng bởi <b>Admin</b>
                                    </div>
                                </div>
                                <div class="card_news_body text-center">
                                    <a href="/khong-phai-sua-nhung-thuc-pham-nay-con-giau-canxi-hon!-n99126.html"
                                        class="card_news_title">Không phải sữa, những thực phẩm này còn giàu Canxi
                                        hơn!</a>
                                    <p class="card_news_text">Nếu bạn đã ngao ngán đến việc uống sữa mỗi ngày, thì những
                                        thực phẩm như cá hồi, hạt hạnh nhân, các loại đậu,… sẽ giúp bạn bổ sung Canxi
                                        đầy đủ.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 293.333px; margin-right: 30px;">
                        <div class="item_news">
                            <div class="card_news"
                                onclick="window.location.href='/organic-la-gi-vi-sao-nen-su-dung-thuc-pham-huu-co-n99125.html';">
                                <div class="card_news_img">
                                    <a href="/organic-la-gi-vi-sao-nen-su-dung-thuc-pham-huu-co-n99125.html"
                                        title="Organic là gì? Vì sao nên sử dụng thực phẩm hữu cơ?">
                                        <img class="card-img-top lazyautosizes lazyloaded"
                                            src="https://pos.nvncdn.com/16a837-71503/art/20220325_y9miZldsT5wWcyD2guYmtDUn.jpg"
                                            alt="Organic là gì? Vì sao nên sử dụng thực phẩm hữu cơ?" sizes="293px">
                                    </a>
                                    <div class="card_news_date text-center">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        <b>25-03-2022</b> &nbsp;Đăng bởi <b>Admin</b>
                                    </div>
                                </div>
                                <!-- Thêm nội dung cho card_news_body nếu cần -->
                            </div>
                        </div>
                    </div>
                    <!-- Bạn có thể thêm nhiều card_news ở đây -->
                </div>
            </div>
        </div>
    </div>

    <footer class="tp_footer">
        @(await Component.InvokeAsync("Footer"))
    </footer>


    <script>
        $('.box_tab.owl-carousel').owlCarousel({
            margin: 30,
            nav: true,
            dots: false,
            autoplay: 2000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2,
                },
                600: {
                    items: 3,
                },
                1024: {
                    items: 4
                }
            },
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"]
        })
        $('.quick-view').click(function (e) {
            e.preventDefault();
            quickview($(this).attr('data-id'));
        });

        $('.quick-buy').click(function (e) {
            e.preventDefault();
            var $this = $(this), products = [], psId = $this.attr('selId'), PS_PARENT = $this.attr('root');
            if (PS_PARENT == PS_PARENT_ROOT) {
                window.location.href = $this.attr('data-link');
            } else if (psId) {
                products = [{ id: psId, quantity: 1 }];
                addToCart(products, 1, function (rs) {
                    if (rs.status == 1) {
                        $.post('/product/child?childId=' + $this.attr('selId'),
                            function (rs) {
                                if (rs.code == 1) {
                                    ajaxLoadView({
                                        view: 'countcart',
                                        onSuccess: function (rs) {
                                            $('.cout_cart').html(rs);
                                        }
                                    });
                                    $('#modalQuickbuy .modal-body').html('<div class="left-modal col-lg-6 clearfix">\
                                        <p><i class="fa fa-check"></i> Sản phẩm đã được thêm vào rỏ hàng!</p>\
                                        <div class="media-left">\
                                        <img src="'+ rs.data.thumbnail + '" alt="....">\
                                        </div>\
                                        <div class="infor-right">\
                                            <p>'+ rs.data.name + '</p>\
                                            <p>'+ $.number(rs.data.price) + 'đ' + '</p>\
                                        </div>\
                                        </div>\
                                        <div class="right-modal col-lg-6">\
                                        </div>\
                                        ');
                                    $('#modalQuickbuy').modal('show');
                                    ajaxLoadView({
                                        view: 'quickbuy',
                                        onSuccess: function (rs) {
                                            $('.right-modal').html(rs);
                                        }
                                    });
                                }
                            },
                            'json'
                        );
                    } else {
                        alert(rs.messages);
                    }
                });
            }
        });
    </script>


    <!-- Modal Quickbuy-->



    <div id="mm-blocker" class="mm-slideout"></div>
</body>

</html>
